.title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0em;
  color: var(--color-text-heading);
  text-align: center;
}

.button {
  width: 150px;
  margin-bottom: 40px;
}

.emptyText {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
  color: var(--color-text-secondary);
}
